/* GLOBAL */
body {
    background-color: #EDEDED;
    padding-top: 10vw;
    padding-bottom: 5vw;
    }

a {
    color: black;
    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

/* NAVIGASI */
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: 4rem;
}

a.nav-link {
    color:black;
    display: block;
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

/* PROGRESS BAR */
.progress-bar{
    background-color: #F29461;
    border: 2px solid black;
}

/* HOMEPAGE */
.wrapper {
    width: 100%;
    display: block;
}

h1.homepage {
    position: fixed;
    /* width: 248px;
    height: 65px; */
    /* left: 143px;
    top: 91px; */
    width: 100%;
    margin-left: 10vw;

    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 5vw;
    line-height: 57px;

    color: #000000;
}

.homepageimg {
    position: fixed;
    width: 80%;
    /* left: 141px;
    top: 75px; */
}
/* .line {
    position:fixed;
    width: 990px;
    height: 0px;
    left: 143px;
    top: 514px;
    border: 1px solid #000000;
}

#home {
    position: absolute;
    width: 160px;
    height: 69px;
    left: 173px;
    top: 534px;

    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}

#about {
    position: absolute;
    width: 161px;
    height: 69px;
    left: 570px;
    top: 534px;

    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}

#contact{
    position: absolute;
    width: 160px;
    height: 69px;
    left: 950px;
    top: 534px;

    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
} */

/* MORE */


p.skill{
    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

#skills{
    position: absolute;
    /* left: 560px;
    top: 50px; */
    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    line-height: 113px;
    color: #000000;
}
.skillsbody{
    background-color: #E5E5E5;
}

/* PORTFOLIO */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* CONTACT */
.contactimg{
    position: absolute;
    width: 756.29px;
    height: 539px;
    left: 400px;
    top: 70px;
}

#mail{
    position: absolute;
    width: 91px;
    height: 91px;
    left: 200px;
    top: 118px;
}

#twitter{
    position: absolute;
    width: 91px;
    height: 92px;
    left: 200px;
    top: 239px;
}

#ig{
    position: absolute;
    width: 91px;
    height: 92px;
    left: 200px;
    top: 359px;
}

#homepage{
    position: absolute;
    width: 91px;
    height: 92px;
    left: 200px;
    top: 480px;
}