{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}About Me | Khansa{% endblock %}
{% block content %}
<title>My Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg">
    {% load static %}
    <div class="wrapper">
        <p class="titleabout"> about me.</p>
        <p class="abouttitle"> about me</p>
        <p class="about">
            Hello, I am Khansa Khairunisa Putri. Currently studying at Universitas Indonesia.
            I‘m majoring in Information System, class of 2018.
            I learn about basic languages of programming such as Java and Python.
        </p>
        <p class="about1">
            I'm a creative thinker. I like to explore alternative solutions to problems.
            Also, I really enjoy meeting with new people.
        </p>
        <p class="about2">
            I like watching movie especially action movie.
            Also, I like taking pictures with analog camera,
            because it feels different and unique.
        </p>

        <a href="{% url 'homepage:homepage' %}">
            <img src="{% static 'images/button.png' %}" alt="button" class="more">
            </a>
    </div>

</body>
</html>