{% extends "navigasi.html" %}
{% load static %}
{% block tittle %}HOME | Khansa Khairunisa{% endblock %}
{% block content %}
<body style="background-color: #EDEDED">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top" style="background-color: #e5e5e5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:homepage' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:more' %}">MORE</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:portfolio' %}">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:schedule' %}">SCHEDULE</a>
        </li>
        </ul>
    </nav>
    <br>
    <div class="wrapper d-flex align-items-center justify-content-center">
        <h1 class="homepage"> Hello, I am </h1>
        <br>
        <img src="{% static 'images/homepage.png' %}" alt="homepage" class="homepageimg" style="margin-top: 15vw">
        <!-- <div class="line"></div> -->
    </div>
    
    <!-- <a id="home" href="homepage.html">HOME</a>
    <a id="about" href="about.html">ABOUT</a>
    <a id="contact" href="contact.html">CONTACT</a> -->
    
    </div>
</body>
</html>
{% endblock %}