{% extends "navigasi.html" %}
{% load static %}
{% block tittle %}HOME | Khansa Khairunisa{% endblock %}
{% block content %}
<body>
    <br>
    <div style="background-color:#e5e5e5">
        <div class="container-fluid">
        <h1 id="skills">SKILLS</h1>
        
        <div class="row">
            <div class="col">
                <div class="progress" style="margin-top: 130px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
                </div><br>
                <p class="skill">Adobe Photoshop</p>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%"></div>
                </div><br>
                <p class="skill">Adobe Illustrator</p>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
                </div><br>
                <p class="skill">Adobe After Effects</p>
            </div>
            <div class="col">
                <div class="progress" style="margin-top: 130px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
                </div><br>
                <p class="skill">Microsoft Word</p>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
                </div><br>
                <p class="skill">Powerpoint</p>

                <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%"></div>
                </div><br>
                <p class="skill">Microsoft Excel</p>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
{% endblock %}