{% extends "navigasi.html" %}
{% load static %}
{% block tittle %}PORTFOLIO | Khansa Khairunisa{% endblock %}
{% block content %}
<body>
  <nav class="navbar navbar-expand-sm justify-content-center fixed-top" style="background-color: #e5e5e5">
    <ul class="navbar-nav">
        <li class="nav-item" style="padding-right: 5rem; padding-left: 8.5rem">
            <a class="nav-link" href="{% url 'homepage:homepage' %}">HOME</a>
        </li>
        <li class="nav-item" style="padding-right: 5rem; padding-left: 8.5rem">
            <a class="nav-link" href="{% url 'homepage:more' %}">MORE</a>
        </li>
        <li class="nav-item" style="padding-right: 5rem; padding-left: 8.5rem">
            <a class="nav-link" href="{% url 'homepage:portfolio' %}">PORTFOLIO</a>
        </li>
    </ul>
    </nav>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
              
            <img src="{% static 'images/6.png' %}" alt="title">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/2.png' %}" alt="1">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/4.png' %}" alt="2">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/3.png' %}" alt="3">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/1.png' %}" alt="4">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/5.png' %}" alt="5">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
</body>
</html>
{% endblock %}